@{
    ViewBag.Title = "Home";
}

<div class="w-100 text-center hide-mobile">
    <img src="~/capturethephone.svg" alt="Capture The Phone logo" />
</div>

<div class="w-100 text-center show-mobile">
    <img src="~/capturethephone.svg" alt="Capture The Phone logo" class="w-50" />
</div>

<div class="container-lg">
    <h2 class="w-100 text-center">Welcome to Capture The Phone</h2>
    <h6 class="w-100 text-center fst-italic mb-5">The addictive phone hunt and capture competition game!</h6>
    
    <p>Capture The Phone has one simple goal - Use as many campus phones as you can to get yourself to the top of the leaderboard! <span class="fst-italic text-muted">(Please keep to phones posted with the Capture The Phone logo, do not use admin phones!)</span></p>
    
    <p>
        To get started, find a phone with a Capture The Phone logo (shown above) posted, register for your account by dialing the number shown, and then call the number you're given on each phone you visit!
        Don't forget to capture the phone you registered on!
    </p>
    
    <p>
        All phones have a cooldown, in which only one player may capture it. If someone in front of you just captured the phone, you'll need to wait for the phone to cool down before your turn. Additionally, each phone has a player cooldown too,
        where you can only capture each phone once per day, so make sure to go and capture as many unique phones as you can!
    </p>
</div>