@{
    int latestYear = DateTime.UtcNow.Year;

    latestYear = latestYear < 2024 ? 2024 : latestYear;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <link href="~/dist/bootstrap.min.css" rel="stylesheet" />
        <link href="~/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
        <link href="~/style.css" rel="stylesheet" />
        @await RenderSectionAsync("StyleOverrides", required: false)
        
        <title>@ViewBag.Title - Capture The Phone</title>
    </head>
    <body>
        <header>
            <partial name="_Navbar" />
        </header>
        
        <main>
            <partial name="_Alerts" />
            
            @RenderBody()
        </main>

        <footer class="text-muted">
            <div class="float-start">CaptureThePhone.co.uk &copy; 2022 - @latestYear</div>
            <div class="float-end hide-mobile" id="footer-note"></div>
        </footer>
        
        <script src="~/dist/bootstrap.bundle.min.js"></script>
        <script>
            let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            
            let tooltipList = tooltipTriggerList.map((el) => {
              return new bootstrap.Tooltip(el)
            });
        </script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>